# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Env — NE JAMAIS COMMITER
.env
.env.local
.env.*.local

# Vite
*.local
vite.config.js.timestamp-*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
